/* draggable for floorplan design */
.droppable.draggable-dropzone--occupied{
  height: 70px;
  width: auto;
}

.draggable{
  height: 70px;
  width: auto;
}

.droppable{
  height: 70px;
  width: auto;
}


.floor {
  display: grid;
  height: 610px;
  grid-template-columns:3% repeat(10, 1fr) 3%;
  grid-template-rows: 25px repeat(8, 70px) 25px;
  grid-template-areas:
    "ww nw nw nw nw nw nw nw nw nw nw ew"
    "ww s1 s2 s3 s4 s5 s6 s7 s8 s9 s10 ew"
    "ww s11 s12 s13 s14 s15 s16 s17 s18 s19 s20 ew"
    "ww s21 s22 s23 s24 s25 s26 s27 s28 s29 s30 ew"
    "ww s31 s32 s33 s34 s35 s36 s37 s38 s39 s40 ew"
    "ww s41 s42 s43 s44 s45 s46 s47 s48 s49 s50 ew"
    "ww s51 s52 s53 s54 s55 s56 s57 s58 s59 s60 ew"
    "ww s61 s62 s63 s64 s65 s66 s67 s68 s69 s70 ew"
    "ww s71 s72 s73 s74 s75 s76 s77 s78 s79 s80 ew"
    "ww sw sw sw sw sw sw sw sw sw sw ew";
  background-color: #DCDCDC;
  margin-bottom: 20px;
}

.floor > div {
  border: 1px solid #000000;
}

.floor_options {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px;
  grid-template-areas:
    "em1 op1 op2 op3 op4 op5 op6 op7 op8 op9 op10 em2";
  margin-bottom : 40px;
}

.floor_options > div {
  border: 1px solid #000000;
}
