{%extends "layout.html"%}
{%block content%}
  <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.5/lib/draggable.bundle.js"></script>

  <div class="floor_options">
    {%for i in range(1, 13)%}
    <div class="draggable_container">
          <div style="background-color: white;" class="droppable draggable-dropzone--occupied" id={{i}} onclick="refill(this)">
            <div class="draggable owned-seat_block_{{i}}" id={{i}}></div>
          </div>
    </div>
    {% endfor %}
  </div>
  <!-- extra options like walls, printer, counter, etc.. -->
  <div class="floor_options">
    {%for i in range(13, 24)%}
    <div class="draggable_container">
          <div style="background-color: white;" class="droppable draggable-dropzone--occupied" id={{i}} onclick="refill(this)">
            <div class="draggable owned-seat_block_{{i}}" id={{i}}></div>
          </div>
    </div>
    {% endfor %}
    <div class="draggable_container trash_can">
      <div class="droppable" onclick="empty_trash_can(this)">
      </div>
    </div>
  </div>


  <div class="floor">
    {%for i in range(1, 133)%}
      <div class="draggable_container" style="grid-area:s{{i}}" id="{{i}}">
        {% if i in seat_nums %}
          {%for j in range(0, seat_nums|length)%}
            {% if (i==seat_nums[j]) %}
              <div class="seat_blocks owned-seat_block_{{seat_imgs[j]}}"></div>
            {% endif %}
          {% endfor %}

          <!-- <div class="seat_blocks added_seat"></div> -->
        {% else %}
          <div class="droppable"></div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <!-- <div>
    {%for ex_seat in existing_seats%}
      {{ex_seat.seat_num}}
    {% endfor %}
  </div> -->

  <div class="content-section">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <fieldSet class="form-group">
        <legend class="border-bottom mb-4">Add Seat</legend>

        <div class="form-group">
          {{form.location_name.label(class="form-control-label")}}
          {% if form.seat_num.errors %}
            {{form.location_name(class="form-control form-control-lg is-invalid")}}
            <div class='invalid-feedback'>
              {% for error in form.location_name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
             {{form.location_name(class="form-control form-control-lg", value=locationName)}}
          {% endif %}
        </div>

        <div class="form-group">
          {{form.seat_num.label(class="form-control-label")}}
          {% if form.seat_num.errors %}
            {{form.seat_num(class="form-control form-control-lg is-invalid")}}
            <div class='invalid-feedback'>
              {% for error in form.seat_num.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
             {{form.seat_num(class="form-control form-control-lg", id="floor_seats", value="")}}
          {% endif %}
        </div>

        <div class="form-group">
          {% if form.seat_img_ids.errors %}
            {{form.seat_img_ids(class="form-control form-control-lg is-invalid")}}
            <div class='invalid-feedback'>
              {% for error in form.seat_img_ids.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
             {{form.seat_img_ids(class="form-control form-control-lg", id="floor_imgs", value="")}}
          {% endif %}
        </div>

      </fieldset>
      <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
      </div>
    </form>
  </div>

  <script type="text/javascript">

    // function needed for addNewSeats() to insure that seat is added only when moved
    function getPrev(evt, seats, imgs) {
      prev = document.getElementsByClassName("draggable-container--is-dragging")[0].id;
      img = document.getElementsByClassName("draggable--original")[0].id;

      // removing previous location data for new moving
      var index = seats.indexOf(prev);
      if (index > -1) {
        seats.splice(index,1);
        imgs.splice(index,1);
      }
      return [prev, img];
    }

    // adds new seats to form input only when the seat is actually moved!
    function addNewSeats(prev_and_img, seats, imgs) {
      prev = prev_and_img[0];
      img = prev_and_img[1];
      if (document.querySelector('.draggable-container--over') == null) {
        // return;
      }
      else{
        cur = document.getElementsByClassName("draggable-container--over")[0].id;
        if (prev == cur){
        }
        else{
          if (document.getElementsByClassName("draggable-container--over")[0].classList.contains("trash_can")){
            console.log("contains trash");
            container_div = document.getElementsByClassName("draggable-container--over")[0].childNodes[1];
          }

          if (!(seats.includes(cur))){
            seats.push(cur);
            imgs.push(img);
            modifyForm();
          }
        }
      }
    }//end of addNewSeats

    function refill(el) {
      if (el.childElementCount < 1){
        console.log(el.id);
        //setting class attr to be draggable
        var new_draggable = document.createElement("div");
        var att1 = document.createAttribute("class");
        att1.value = 'draggable owned-seat_block_'+el.id;
        //setting id attr to be proper img
        var att2 = document.createAttribute("id");
        att2.value = ''+el.id;
        new_draggable.setAttributeNode(att1);
        new_draggable.setAttributeNode(att2);
        el.appendChild(new_draggable);
      }
    }

    function empty_trash_can(el) {
      // console.log(el.childNodes[1]);
      console.log(el.classList);
      if (el.childElementCount > 0){
        el.removeChild(el.childNodes[1]);
        if (el.classList.contains("droppable")){
          el.classList.remove("draggable-droppable--occupied");
        }
      }
    }

    //initial set up for draggable as suggested in their github
    const containers = document.querySelectorAll('.draggable_container');
    const droppable = new Draggable.Droppable(containers, {
      draggable: '.draggable',
      droppable: '.droppable'
    });

    //global vars
    var added_seats = [];
    var added_imgs =[];
    var previous_spot_img;
    var current_spot;

    function modifyForm() {
      var str1 = "";
      var str2 = "";
      for (var i in added_seats) {
        if (added_seats[i] != ""){
          str1 += added_seats[i];
          str1 += ",";
          str2 += added_imgs[i];
          str2 += ",";
        }
      }
      console.log("string for added_seat: ",str1);
      console.log("string for adeed_img: ",str2);
      document.getElementById("floor_seats").value = str1.slice(0, -1);
      document.getElementById("floor_imgs").value = str2.slice(0, -1);
    }

    droppable.on('drag:start', (evt) => previous_spot_img = getPrev(evt, added_seats, added_imgs));
    droppable.on('drag:stop', () => addNewSeats(previous_spot_img, added_seats, added_imgs));

  </script>

{%endblock content%}
