{%extends "layout.html"%}
{%block content%}
  <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.5/lib/draggable.bundle.js"></script>

  <div class="floor_options">
    {%for i in range(0, 12)%}
    <div class="block">
          <div style="background-color: white;" class="droppable draggable-dropzone--occupied">
            <div style=" background-color: red;" class="draggable">seat {{i}}</div>
          </div>
    </div>
    {% endfor %}
  </div>

  <div class="floor">
    <div style="grid-area: ww"></div>
    <div style="grid-area: nw"></div>
    <div style="grid-area: sw"></div>
    <div style="grid-area: ew"></div>

    {%for i in range(1, 81)%}
      <div class="block" style="grid-area:s{{i}}" id="{{i}}">
        <div class="droppable"></div>
      </div>
    {% endfor %}
  </div>

  <div>
    {%for ex_seat in existing_seats%}
      {{ex_seat.seat_num}}
    {% endfor %}
  </div>

  <div class="content-section">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <fieldSet class="form-group">
        <legend class="border-bottom mb-4">Add Seat</legend>

        <div class="form-group">
          {{form.location_name.label(class="form-control-label")}}
          {% if form.seat_num.errors %}
            {{form.location_name(class="form-control form-control-lg is-invalid")}}
            <div class='invalid-feedback'>
              {% for error in form.location_name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            <!-- {{form.seat_num(class="form-control form-control-lg", id="floor_seats")}} -->
             {{form.location_name(class="form-control form-control-lg", value=locationName)}}
          {% endif %}
        </div>

        <div class="form-group">
          {{form.seat_num.label(class="form-control-label")}}
          {% if form.seat_num.errors %}
            {{form.seat_num(class="form-control form-control-lg is-invalid")}}
            <div class='invalid-feedback'>
              {% for error in form.seat_num.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
             {{form.seat_num(class="form-control form-control-lg", id="floor_seats")}}
          {% endif %}
        </div>

      </fieldset>
      <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
      </div>
    </form>
  </div>

  <script type="text/javascript">

    function getPrev(evt, seats) {
      prev = document.getElementsByClassName("draggable-container--is-dragging")[0].id;
      var index = seats.indexOf(prev);
      if (index > -1) {
        seats.splice(index, 1);
      }
      return prev;
    }

    function addNewSeats(prev, seats) {
      if (document.querySelector('.draggable-container--over') == null) {
        console.log("not defined");
      }
      else{
        cur = document.getElementsByClassName("draggable-container--over")[0].id;
        if (prev == cur){
          console.log("stayed");
        }
        else{
          seats.push(cur);
          console.log("moved");
          modifyForm();
        }
      }
    }//end of addNewSeats

    // function removeSeat(evt, seats) {
    //   console.log(evt.sourceContainer);
    // }



    const containers = document.querySelectorAll('.block');
    const droppable = new Draggable.Droppable(containers, {
      draggable: '.draggable',
      droppable: '.droppable'
    });



    var added_seats = [];
    var previous_spot = 0;
    var current_spot;

    // function showAddedSeats() {
    //   console.log(added_seats);
    //   document.getElementById("floor_seats").value = added_seats.join();
    // }

    function modifyForm() {
      document.getElementById("floor_seats").value = added_seats.join();
      // document.getElementById("floor_seats").setAttribute('value', 'defaultValue');
      // console.log(document.getElementById("floor_seats").id);
    }


  droppable.on('drag:start', (evt) => previous_spot = getPrev(evt, added_seats));
  droppable.on('drag:stop', () => addNewSeats(previous_spot, added_seats));

  </script>

{%endblock content%}
