{%extends "layout.html"%}
{%block content%}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{image_file}}">
      <div class="media-body">
        <h2 class="account-heading">{{current_user.username}}</h2>
        <p class="text-secondary">{{current_user.email}}</p>
      </div>
    </div>

    {%for hobby in current_user.hobbies%}
      <article class="media content-section">
        <div class="media-body">
          <p class="article-content">{{ hobby.name }}</p>
          <a href="{{ url_for('users.delete_hobby', hobby_id=hobby.id) }}">
            <button class="button button1">Remove</button>
          </a>
        </div>
      </article>
    {% endfor %}

    <form method="POST" action="", enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <fieldSet class="form-group">
        <legend class="border-bottom mb-4">Hobby Info</legend>
        <div class="form-group">
          {{form.name.label(class="form-control-label")}}
          {% if form.name.errors %}
            {{form.name(class="form-control form-control-lg is-invalid")}}
            <div class='invalid-feedback'>
              {% for error in form.name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{form.name(class="form-control form-control-lg")}}
          {% endif %}
        </div>
        <div class="form-group">
          {{form.type.label(class="form-control-label")}}
          {{ form.type }}
        </div>

      </fieldset>
      <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
      </div>
    </form>
  </div>

{%endblock content%}
