/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 45px;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 200px;

} */

/* .grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
} */

/* .occupied-seat {
  background-color: #800000;
  color : white;
} */

/* .seat {
  alt: default;
  height: auto;
  width: auto;
} */


.owned-seat {
  background-color: #FFD700;
}

.empty-seat {
  background-color: rgba(255, 255, 255, 0.8);
}

.button1 {font-size: 10px;}

div.seat_name {
  font-size: small;
}

/* draggable for floorplan design */
.droppable.draggable-dropzone--occupied{
  height: 70px;
  width: auto;
}

.draggable{
  height: 70px;
  width: auto;
  /* background-color: red; */
}

.droppable{
  height: 70px;
  width: auto;
}

.added_seat {
  background-color: #800000;
  color : white;
}

.seat_blocks {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.occupied_seat_blocks {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  background-image: url( ../floorplan_img/chair_desk.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: sub;
  /* opacity: 0.5; */
}

/* owned seat pictures */
.owned-seat_block_1{
  background-image: url( ../floorplan_img/chair_desk_1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_2{
  background-image: url( ../floorplan_img/chair_desk_2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_3{
  background-image: url( ../floorplan_img/chair_desk_3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_4{
  background-image: url( ../floorplan_img/chair_desk_4.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_5{
  background-image: url( ../floorplan_img/chair_desk_5.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_6{
  background-image: url( ../floorplan_img/chair_desk_6.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_7{
  background-image: url( ../floorplan_img/chair_desk_7.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_8{
  background-image: url( ../floorplan_img/chair_desk_8.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_9{
  background-image: url( ../floorplan_img/chair_desk_9.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_10{
  background-image: url( ../floorplan_img/chair_desk_10.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_11{
  background-image: url( ../floorplan_img/chair_desk_11.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.owned-seat_block_12{
  background-image: url( ../floorplan_img/chair_desk_12.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.floor {
  display: grid;
  height: 770px;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows:repeat(11, 70px);
  grid-template-areas:
    "s1 s2 s3 s4 s5 s6 s7 s8 s9 s10 s11 s12"
    "s13 s14 s15 s16 s17 s18 s19 s20 s21 s22 s23 s24"
    "s25 s26 s27 s28 s29 s30 s31 s32 s33 s34 s35 s36"
    "s37 s38 s39 s40 s41 s42 s43 s44 s45 s46 s47 s48"
    "s49 s50 s51 s52 s53 s54 s55 s56 s57 s58 s59 s60"
    "s61 s62 s63 s64 s65 s66 s67 s68 s69 s70 s71 s72"
    "s73 s74 s75 s76 s77 s78 s79 s80 s81 s82 s83 s84"
    "s85 s86 s87 s88 s89 s90 s91 s92 s93 s94 s95 s96"
    "s97 s98 s99 s100 s101 s102 s103 s104 s105 s106 s107 s108"
    "s109 s110 s111 s112 s113 s114 s115 s116 s117 s118 s119 s120"
    "s121 s122 s123 s124 s125 s126 s127 s128 s129 s130 s131 s132";

  background-color: #DCDCDC;
  margin-bottom: 20px;
}

.floor > div {
  border: 1px solid #000000;
}

.floor_options {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px;
  grid-template-areas:
    "op1 op2 op3 op4 op5 op6 op7 op8 op9 op10 op11 op12";
  margin-bottom : 40px;
}

.floor_options > div > div {
  border: 1px solid #000000;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
